* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Quicksand", sans-serif;
    height: 100vh;
    width: 100%;
    --primary-color: #2b2a2a;
    --textPrimary: #fff;
    --textSecondary: #8c8888d4;
    --prime-color: rgb(6, 153, 175);
    background-color: var(--primary-color);
}

body {
    font-size: 1.2rem;
}

main {
    width: 70%;
    height: 90%;
    margin: 3% auto;
}

i {
    height: 2rem;
    width: 3rem;
    font-size: 2.5rem;
}

h1 {
    color: var(--prime-color);
    font-family: "Chakra Petch", sans-serif;
    margin: 2rem;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     /* grid-template-columns: 1fr 1fr; */
    /* margin-top: 2 rem; */
    font-weight: 600;
    margin: 5rem 3rem;
}

#info {
    color: var(--prime-color);
}

#button {
    text-align: right;
    margin-right: 3rem;
}

button {
    background-color: #292828;
    color: var(--prime-color);
    border: 0;
    font-weight: 600;
    padding: 0.4rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

#Game {
    line-height: 2.5rem;
    padding: 0 4rem;
    height: 12rem;
    overflow: hidden;
    margin-top: 8rem;
    color: var(--textPrimary);
    /* position: relative; */
    font-size: 1.7rem;
}

div.word {                      /* this is the css applied to the js injected html*/
    /* display: flex;
    gap: 0.6rem;
    flex-wrap: wrap; */
    
    display: inline-block;
    font-weight: 600;
    margin: 0.25rem 0.6rem;
}

#words {
    filter: blur(0.4rem);
    color: var(--textSecondary);
}

#Game:focus {
    outline: 0;
}

#Game:focus #words {
    filter: blur(0);
}

#focus-error {
    position: absolute;
    inset: 0;                /* this will make the element pop up and visible above all the elements */
    padding-top: 6rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.7rem;
}

#Game:focus #focus-error {
    display: none;
}

.letter.correct {
    color: var(--textPrimary);
}

.letter.incorrect {
    color: rgb(243, 67, 67);
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#cursor {
    display: none;
    height: 1.4rem;
    width: 0.11rem;
    position: fixed;
    top: 230px;
    left: 240px;
    background-color: var(--prime-color);
    animation: blink 0.7s infinite;
}

#Game:focus #cursor {
    display: block;
}
/*---------------------Game over-------------------------------*/

#Game.over #words {
    filter: blur(0);
    opacity: 0.5;
}

#Game.over:focus #cursor {
    display: none;
}

#Game.over #focus-error {
    display: none;
}


section {
    position: relative;
    height: 100%;
}


#mobile-input {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    height:20%;
    display:none;
    width: 100%;
    background-color: #292828;
    padding: 10px;
    color: var(--prime-color);
    font-size: 16px;
    margin-top: 2rem;
}

#mobile-input-field {
   
    width: 100%;
    margin: auto;
    height: 9rem;
    background-color: #292828;
    color: var(--prime-color);
    border: 1px solid var(--prime-color);
    padding: 0.5rem;
    font-size: 1.5rem;
    resize: none;
}


@media (max-width: 670px) {
    html {
        font-size: 90%;
    }

    main {
        width: 80%;
        height: 90%;
        margin: 10% auto;
    }

    #mobile-input-field {
        display: block;
    }
    
#focus-error {
    position: absolute;
    inset: 0;                /* this will make the element pop up and visible above all the elements */
    padding-top: 5rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.7rem;
}


    #Game {
        line-height: 2rem;
        padding: 0 2rem;
        height: 10rem;
        margin-top: 5rem;
        font-size: 1.5rem;
        filter: blur(0);
    }
   
}

@media (max-width: 450px) {
    html {
        font-size: 60%;
    }

    main {
        width: 80%;
        height: 90%;
        margin: 15% auto;
    }

    #mobile-input-field {
        display: block;
    }

    #focus-error {
        position: absolute;
        inset: 0;                /* this will make the element pop up and visible above all the elements */
        padding-top: 5rem;
        text-align: center;
        font-weight: 800;
        font-size: 1.7rem;
    }

    #Game {
        line-height: 2rem;
        padding: 0 1rem;
        height: 10rem;
        margin-top: 10rem;
        font-size: 1.7rem;
    }

   
}
